version: '3'
services:
  redis:
    image: redis:6.0.5
  test:
    build: .
    working_dir: /ws${WORKSPACE_PATH}
    user: ${MY_USER:-root}
    volumes:
      - ${MY_WORKSPACE-./}:/ws
    environment:
      FIXER_API_KEY: ${FIXER_API_KEY}
      BANXICO_TOKEN: ${BANXICO_TOKEN}
    command: python3 -m unittest
    depends_on:
      - redis
